!ui/static
*.egg-info/
*.py[cod]
.DS_Store
.env.idea/
.idea
.menv/
.vagrant/
.venv/
/static
ORNL_Archive_Backup_20160916/
__pycache__/
_build/
_static/
_templates/
archive_api/fixtures/*.txt
archive_api_import.json
archive_api_import_with_datasets.json
archives
build/
db.sqlite3
dist/
local*.py
local.py
main.yml
ngee_tropics.sql
ngt-archive.log
ngt-dev*.json
ngt_archive.egg-info/
ngt_archive.log
ngt_archive/__pycache__/
ngt_archive_conf.yml
ornl_backup/
plots.txt
sites.txt
vagrant.retry
