*.egg-info/
*.py[cod]
.env.idea/
.idea
.menv/
.vagrant/
.venv/
__pycache__/
db.sqlite3
local.py
local*.py
main.yml
ngt-archive.log
ngt_archive.egg-info/
ngt_archive/__pycache__/
static
vagrant.retry
ngee_tropics.sql
sites.txt
plots.txt
archive_api_import.json
!ui/static

