!ui/static
*.egg-info/
*.py[cod]
.DS_Store
.env.idea/
.idea
.menv/
.vagrant/
.venv/
/archive_api/fixtures/ngt-dev-archive-api-cleaned-with-datasets.json
/archive_api/fixtures/ngt-dev-archiveapi.json
/archive_api/fixtures/ngt-dev-users.json
/static
ORNL_Archive_Backup_20160916/
__pycache__/
archive_api_import.json
archive_api_import_with_datasets.json
archives
build/
db.sqlite3
dist/
local*.py
local.py
main.yml
ngee_tropics.sql
ngt-archive.log
ngt_archive.egg-info/
ngt_archive.log
ngt_archive/__pycache__/
ngt_archive_conf.yml
ornl_backup/
plots.txt
sites.txt
vagrant.retry
