include LICENSE.md
include docs/prerequisites.rst
include docs/quickstart.rst README.md
recursive-include docs/_build/latex *.pdf
recursive-include docs/_build/html *
recursive-include */templates *
recursive-include */static *
prune archive_api/tests
prune ui/tests
exclude ngt_archive/local*
exclude */.gitignore */.DS_Store
