description "uWSGI instance to serve ngt_archive"

start on runlevel [2345]
stop on runlevel [!2345]
setuid vagrant
setgid vagrant

# Start the app with the default number of processes
script
    cd {{ project_root }}
    uwsgi --http-socket :9999 --plugins python3 \
        --module=ngt_archive.wsgi --chdir {{ project_root }} \
        --static-map /static={{ project_root }}/static/ --enable-threads \
        --virtualenv {{ project_root }}/.venv --uid vagrant --gid vagrant \
        --logto {{ project_root }}/ngt-archive.log

end script
