/* line 1, ../sass/style.scss */
body {
  background-color: #efefef;
  margin: 0;
}
/* line 5, ../sass/style.scss */
body #myModal {
  display: none;
  width: 75%;
  max-height: 640px;
  overflow: scroll;
  background-color: #fff;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding: 20px 15px 10px;
}
/* line 16, ../sass/style.scss */
body #myModal .close-reveal-modal {
  position: absolute;
  top: 5px;
  right: 12px;
}
/* line 24, ../sass/style.scss */
body main article {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 32px 32px;
}
/* line 30, ../sass/style.scss */
body main article code {
  display: block;
  min-height: 40px;
}
/* line 36, ../sass/style.scss */
body main nav.menu {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 48px;
  background-color: indianred;
  color: white;
  padding: 0 20px;
}
/* line 44, ../sass/style.scss */
body main nav.menu .user {
  margin-right: 32px;
  font-weight: 600;
}
/* line 49, ../sass/style.scss */
body main nav.menu a {
  color: white;
}
/* line 52, ../sass/style.scss */
body main nav.menu a:hover {
  color: white;
}
