{% extends "archive_api/doi-base.html" %}

{% block title %}Login to Download Data{% endblock %}
{% block content %}
    <div class="hbp"></div>
    <p>Log in with your FLUXNET credentials.</p>
    <ul>
        <li>Click <a href="https://ameriflux-data.lbl.gov/Pages/RequestAccount.aspx">here</a>
            to create a new FLUXNET account before downloading data from the NGEE Tropics Data Collection.
        </li>
        <li>Click <a href="https://ameriflux.lbl.gov/sign-in">here</a> to test your credentials before attempting to
            login for the first time
        </li>
    </ul>    </p>
    </div>
    <fieldset class="graybox">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Download Data</button>
        </form>
    </fieldset>
    <p align="center">
        <a href="{{ request.META.HTTP_REFERER }}">Back to DOI Page</a>
    </p>
    </div>
{% endblock %}
